.body_content{
    display: flex;
}

.main-title{
    h3{
   font-family: $font_style_1;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: $base_color;
    
    }
}

.main-title2{
    h4{
   font-family: $font_style_1;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: $base_color;
    
    }
}
.box_header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: center;
    &.box_header_block{
        @media #{$small_mobile} {
            flex-direction: column;
            align-items: flex-start !important;
        }
       .main-title{
        @media #{$small_mobile} {
            margin-bottom: 15px;
        }
       }
    }
}

