// leads 
.lead_header{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 15px;
    span{
        display: inline-block;
        color: #828BB2;
        font-size: 12px;
        font-weight: 400;
        text-transform: uppercase;
    }
    .toggoler_lead{
        margin: 4px 12px 0 15px;
    }
}

.header_Toggler{
    span{
        text-transform: uppercase;
        font-size: 12px;
        font-weight: 400;
        color: #828BB2;
        margin-right: 12px;
        display: inline-block;
        white-space: nowrap;
    }
}


